.ui.inverted.segment
  .ui.inverted.container.secondary.menu
    = link_to 'Chatroom', '#', class: 'active item'
    = link_to 'Messages', '#', class: 'item'
    = link_to 'Friends', '#', class: 'item'
    .right.menu
      = link_to 'Log-in', '#', class: 'item'
      = link_to 'Sign up', '#', class: 'item'
